body,html{
    font-family:sans-serif;
    background-color: rgb(231, 231, 231);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home_container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.transactions_container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.authentication_container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

::-webkit-scrollbar {
  width: 6px; 
}


::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(105, 105, 105);
}

.title_bar{
    display: flex;
    background-color: rgb(19, 98, 216);
    justify-content: space-between;
    align-items: center;
    color: wheat;
}


.title_content{
    display: flex;
    gap: 3vw;
}

.logo_content{
    margin-left: 15vw;
}

.logo{
    font-size: 1.25rem;
    text-decoration: none;
}

.logo{
    color:wheat
}

.get_started_content{
     margin-right: 15vw;
}

body {
  margin: 0;
  padding: 0;
}

.drop_content{
    position: relative;
    display: flex;
    gap: 2px;
    cursor: pointer;
}

.quick_link{
    text-decoration: none;
    align-self: center;
}


.quick_link:visited{
    color: wheat;
}


.logout_content{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}


.logout_content--active{
    visibility: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.statistics_drop_content{
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    border-radius: 8px;
}

.statistics_drop_content--active{
    visibility: visible;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    border-radius: 8px;
}


.bottom_bar {
    width: 100%;
    display: flex;
    background-color: rgb(19, 98, 216);
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}


.bottom_links_container{
    display: flex;
    gap: 4vw;
    margin-right: 15vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.bottom_links_content{
    display: flex;
    flex-direction: column;
    line-height: 0;
    align-items: center;
}

.bottom_links_header{
    text-decoration: underline;
    font-weight:600;
}









.input_container{
    
    display: flex;
}

.input_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: rgba(128, 128, 128, 0.205);
    background-color: rgba(255, 255, 255, 0.178);
}

.input_group{
    display: flex;
    gap:2vw
}

.amount_content{
    display: flex;
    align-items: center;
    gap: 2px;
}

.transaction_index:hover{
    cursor: pointer;
    text-decoration:line-through;
}

.date_content{
    display: flex;
    align-items: center;
    gap: 2px;
}

.transaction_input{
    display: flex;
    flex-direction: column;
}


.decimal{
    font-size: 30px;
}

.withdrawl_drops_dormant{
    animation: make_dormant 1.5s ease forwards, make_dormant_2 0s linear 1.5s forwards;
}
.withdrawl_drops_active{
    position: relative;
    animation: make_active 1.5s ease-out forwards, make_active_2 1.5s linear 0s forwards;
}

@keyframes make_dormant{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    };
}

@keyframes make_dormant_2{
    from{
        position: relative;
        visibility: visible;
    }
    to{
        position: absolute;
        visibility: hidden;
    };
}


@keyframes make_active{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    };
}

@keyframes make_active2{
    from{
        position: absolute;
        visibility: hidden;
    };
    to{
        position: relative;
        visibility: visible;
    }
    
}

.ten_history_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.statistics_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.charts_container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 2vh;
    margin-bottom: 2vh ;
}

.charts_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1vw;
    margin-inline: 10vw;
}

.chart{
    height: 225px;
}

.chart_title{
    margin-left: 1vw;
}
.bar_content{
    height: 300px;
    background-color: white;
    border-radius: 10PX;
}
.numbers_container{
    border-bottom: 1px solid;
}
.totals_content{
    display: flex;
    justify-content: space-between;
    margin-inline: 10vw;
}



.history_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history_content{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 70%;
    min-height: 800px;
    background-color: white;
    border-radius: 100px;
    padding-inline: 5vw;
    text-align: center;
}






.achievements_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2vh;
}

.achievements_content{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 250px;
    gap: 1vw;
}

.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.205);
    border-radius: 10px;
    padding: 20px;
}
.progress_bar{
    width: 70%;
    height: 12%;
    border: 1px solid;
    border-radius: 5px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
}


.plans_container{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}


.saving_plans_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
    margin-inline: 1vw;
}
.saving_plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.205);
    border-radius: 10px;
    padding: 20px;
    gap: 5vh;

}

.archived_plans{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.205);
    border-radius: 10px;
    padding: 20px;
    gap:5vh;
    flex-shrink: 0;
    width:20%;
}

.current_content{
    display: flex;
    align-items: center;
    margin-inline: 1vw;
}

.archived_content{
    display: flex;
    margin-inline: 1vw;
    gap: 1vw;
    overflow: scroll;
    scrollbar-width:thin
}

.plan_button{
    padding-inline: 15px;
    padding-block: 5px;
    background-color: rgba(59, 130, 246, 1);
    border-color: antiquewhite;
    border-radius: 100px;
    color: wheat;
}

.plan_button:hover{
    cursor: pointer;
    background-color: rgba(37, 99, 235, 1);

}
.duration_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.duration_content_split{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.duration_symbol{
    width: 5%;
}

.explanation_content{
    visibility: hidden;
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(255, 255, 255);
    border: 10px double;
    border-color: rgb(168, 168, 168);
    top: 25%;
    left: 30%;
    border-radius: 100px;
    z-index: 2;
}

.explanation_content--active{
    visibility: visible;
}

.explanation_close{
    position: absolute;
    right: 3vw;
    top: 1vw;
}

.explanation_close:hover{
    cursor: pointer;
}

.explanation_close_right{
    display: block;
    position: absolute;
    width: 5px;
    height: 3vh;
    border-radius: 2px solid;
    background-color: rgb(160, 160, 160);
    transform: rotate(45deg)
}


.explanation_close_left{
    display: block;
    position: absolute;
    width: 5px;
    height: 3vh;
    border-radius: 2px solid;
    background-color: rgb(160, 160, 160);
    transform: rotate(135deg)
}

.blocker{
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: transparent;
    top: 0%;
    left: 0%;
    border-radius: 100px;
    z-index: 1;
}

.blocker--active{
    visibility: visible;
}



.authorization_container{
    display: flex;
    justify-content: center;
}


.authorization_content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}


